* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(49, 161, 146);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

.body {
    background-color: rgb(226, 223, 223);
}