* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(50, 156, 142);
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 15px;
}

body {
    background-color: rgb(223, 222, 222);
    
}

.container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap:25px;
}

.new_task {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:rgb(248, 247, 247);
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 50px;
}

.new_task_input {
    width: 200px; 
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 15px;
}

.new_task_submit {
    width: 213px; 
    height: 2.5rem;
    background-color: rgb(66, 216, 196);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 15px;
}

.tasks {
    background-color:white;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 50px;
   
}

.tasks_input {
    width: 400px; 
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 15px;
}

.tasks_submit {
    width: 120px; 
    height: 2.5rem;
    background-color: rgb(66, 216, 196);
    border-radius: 4px;
    border: rgb(66, 216, 196);
    color: white;
    font-size: 15px;
}

.list_tasks {
    
    padding: 10px;
    width: 513px; 
    height: 1,5rem;
    line-height: 1.5rem;
    font-weight: 550;
    list-style: none;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin-top: 20px;
}
.checkbox {
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 13px;
    height: 13px;
    appearance: none;
    border: 1px solid black;

}

.checkbox:checked {
    background-color: rgb(49, 52, 221);
  }
.completed {
    text-decoration: 2px solid line-through;
}


